--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ultralytics
fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
streamlit
requests
requests-toolbelt
pandas
Pillow
scikit-image
